.logo {
    height: 50px;
}

.centerCreer {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #3232AA;
}

.creerMais {
    width: 80%;
}

.btnCreer {
    padding-top: 15px;
    margin: auto;
    padding: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}

.gifCreer {
    height: 400px;
}