.logo {
    height: 50px;
<<<<<<< Updated upstream
}

.centerCreer {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #3232AA;
}

.creerMais {
    width: 80%;
}

.btnCreer {
    padding-top: 15px;
    margin: auto;
    padding: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}

.gifCreer {
    height: 350px;
    z-index: 0;
    float: left;
}
.gifCreerRight {
    height: 350px;
    float: right;
=======
>>>>>>> Stashed changes
}