<ion-header translucent>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <img class="logo" src="../../assets/img/logo.png" slot="start"/>
      <ion-title text-center>Gestion des Stocks</ion-title>
  
      <ion-buttons slot="end">
        <ion-buttons ion-button (click)="logoutUser()">
          Déconnexion <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-buttons>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
 
<ion-content>
  <!--<ion-grid>
    <ion-row>
      <ion-col class="cont" col-1>Libellé</ion-col>
      <ion-col class="cont" col-2>Caractéristique</ion-col>
      <ion-col class="cont" col-3>Unité d'usage</ion-col>
      <ion-col class="cont" col-4>Sites
        <ion-row>
          <ion-col>Lilles</ion-col>
          <ion-col>Dax</ion-col>
          <ion-col>Annecy</ion-col>
        </ion-row></ion-col>
      <ion-col class="cont" col-5>Modifier</ion-col>
    </ion-row>
  
  </ion-grid>-

    <p *ngIf="!error;else errorContent">{{ data ? data : '-' }}</p>
    <ng-template #errorContent><p><span style="color: red;">{{error}}</span></p></ng-template>-->

    <ngx-datatable class="fullscreen" [ngClass]="tablestyle" [rows]="data" [columnMode]="'force'" [sortType]="'multi'" [reorderable]="false">
      <ngx-datatable-column name="libelleComposant">Libellé</ngx-datatable-column>
      <ngx-datatable-column name="caracterComposant">Caractéristique</ngx-datatable-column>
      <ngx-datatable-column name="uniteUsageComposant">Unité</ngx-datatable-column>
      <ngx-datatable-column name="quantiteLille">Lille</ngx-datatable-column>
      <ngx-datatable-column name="quantiteDax">Dax</ngx-datatable-column>
      <ngx-datatable-column name="quantiteAnnecy">Annecy</ngx-datatable-column>

    </ngx-datatable>

</ion-content>
