.logo {
    height: 50px;
}

.btn1 {
    width: 300px;
    height: 100px;
    white-space: pre-wrap;
<<<<<<< Updated upstream
}
=======
}
/*
.vertical-align {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}*/
>>>>>>> Stashed changes
