<ion-header translucent>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  
      <img class="logo" src="../../assets/img/logo.png" slot="start"/>
      <ion-title text-center>SUIVI DE PAIEMENT</ion-title>
  
      <ion-buttons slot="end">
        <ion-buttons ion-button (click)="logoutUser()">
          Déconnexion&nbsp;<ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-buttons>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col class="cont" col-1> </ion-col>
        <ion-col class="cont" col-2> </ion-col>
        <ion-col class="cont" col-3> </ion-col>
        <ion-col class="cont" col-4> </ion-col>
        <ion-col class="cont" col-5>
          <ion-select placeholder="Sélectionner une commande">
            <ion-select-option *ngFor="let dat of commandeListe" [value]="dat">{{dat.idCommande}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="premiere" col-2>Étape </ion-col>
        <ion-col class="reste" col-5>Validation</ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col class="premiere" col-2>A la signature</ion-col>
        <ion-col class="reste" col-5>
          <ion-checkbox></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col class="premiere" col-2>Obtention du permis de construire</ion-col>
        <ion-col class="reste" col-5>
          <ion-checkbox></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col class="premiere" col-2>Ouverture du chantier</ion-col>
        <ion-col class="reste" col-5>
          <ion-checkbox></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col class="premiere" col-2>Achèvement des fondations</ion-col>
        <ion-col class="reste" col-5>
          <ion-checkbox></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col class="premiere" col-2>Achèvement des murs</ion-col>
        <ion-col class="reste" col-5>
          <ion-checkbox></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col class="premiere" col-2>Mise hors d'eau / hors d'air</ion-col>
        <ion-col class="reste" col-5>
          <ion-checkbox></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col class="premiere" col-2>Achèvement des travaux d'équipement (plomberie, menuiserie, chauffage)</ion-col>
        <ion-col class="reste" col-5>
          <ion-checkbox></ion-checkbox>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col class="premiere" col-2>Remise des clés</ion-col>
        <ion-col class="reste" col-5>
          <ion-checkbox></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>
  