.footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.treeImg {
    height: 350px;
}

.btnConnect {
    display: block;
    margin: 25px auto;
}

.centerLog {
    margin-left: auto;
    margin-right: auto;
    display: block;
}